checkpoint
*.npy
*.log
.venv/
models/
models/**
logs/
tests/
tests/**
logs/**
data/*/ontology.ttl
data/*/jena_reasoner/
data/*/jena_reasoner/**
jena-materializer/target/
jena-materializer/target/**
__pycache__/
*.pyc
.DS_Store
